:root {
  color-scheme: light dark;

  --color-background: #f0f0f0;
  --color-text: #333;
  --color-primary: #007bff;
  --color-secondary: #6c757d;
  --color-accent: #ffc107;
  --color-success: #28a745;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #17a2b8;
  --color-light: #f8f9fa;
  --color-dark: #343a40;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

main {
  margin: 0 auto;
  max-width: 80ch;
}

#typing-game {
  height: 100vh;
}

#typing-game time {
  font-size: 1.5rem;
  color: var(--color-accent);
}

#typing-game #paragraph {
  background-color: var(--color-dark);
  color: var(--color-light);
  font-family: Menlo, monospace;

  padding: 1rem 1.3rem;
  border-radius: 0.5rem;
}

letter-view {
  position: relative;

  &.active::before {
    content: '|';
    color: var(--color-accent);
    position: absolute;
    left: -0.35rem;
    animation: blink 0.9s infinite ease-in-out;
  }

  &.correct {
    color: var(--color-accent);
  }

  &.incorrect {
    color: var(--color-danger);
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
}

#typing-game input {
  background-color: var(--color-light);
  color: var(--color-dark);
  font-family: 'Roboto', sans-serif;

  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-dark);

  z-index: -999;
  position: absolute;
  top: 5px;
  left: 5px;
  pointer-events: none;
  /* opacity: 0; */
}