:root {
  color-scheme: light dark;


  --color-background: #f0f0f0;
  --color-text: #333;
  
  --color-background: #f0f0f0;
  --color-text: #333;
  --color-primary: #007bff;
  --color-secondary: #6c757d;
  --color-accent: #ffc107;
  --color-success: #28a745;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #17a2b8;
  --color-light: #f8f9fa;
  --color-dark: #343a40;
  --color-white: #fff;
  --color-dark-soft: #495057;

  --bg-color: light-dark(var(--color-light), var(--color-dark));
  --text-color: light-dark(var(--color-dark), var(--color-light));
  --bg-game-color: light-dark(var(--color-white), var(--color-dark-soft));
  --border-game-color: var(--color-secondary);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--bg-color);
}

main {
  margin: 0 auto;
  max-width: 80ch;
}

#typing-game {
  height: 100vh;
  display: block;
}

#typing-game time {
  font-size: 1.5rem;
  color: var(--color-accent);
}

#typing-game #paragraph {
  background-color: var(--bg-game-color);
  font-family: Menlo, monospace;

  padding: 1rem 1.3rem;
  border-radius: 0.5rem;
  border: 1.5px solid var(--border-game-color);

  display: flex;
  flex-wrap: wrap;
  gap: 3px 8px;
}

word-view {
  border-bottom: 2px solid transparent;

  &.marked {
    border-bottom-color: var(--color-danger);
  }
}

letter-view {
  position: relative;

  &.active::before {
    content: '|';
    color: var(--color-accent);
    position: absolute;
    left: -0.35rem;
    animation: blink 0.9s infinite ease-in-out;
  }

  &.active.is-last::before {
    left: 0.35rem;
  }

  &.correct {
    color: var(--color-accent);
  }

  &.incorrect {
    color: var(--color-danger);
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
}

#typing-game input {
  background-color: var(--color-light);
  color: var(--color-dark);
  font-family: 'Roboto', sans-serif;

  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-dark);

  z-index: -999;
  position: absolute;
  top: 5px;
  left: 5px;
  pointer-events: none;
  opacity: 0;
}

#results {
  display: none;
  border-radius: 0.5rem;
  background-color: var(--bg-game-color);
  padding: 1rem 1.3rem;
}

#results h2 {
  font-weight: 400;
  opacity: 0.8;
  font-size: 16px;
  margin: 0;
}

#results p {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-accent);
  margin: 0;
}

button {
  background: transparent;
  border: 0;
  margin-top: 32px;
  padding: 8px 24px;
  opacity: .5;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 0.5rem;

  &:hover {
    opacity: 1;
    scale: 110%;
  }
}

#restart {
  background-color: var(--bg-color);
  border: 1px solid var(--color-dark);
}